body{
margin:0;
padding:0;
background-color:#abcbff;
color:#fff;}

.wrap{
height:100vh;
width:100vw;
}

.screen{
box-sizing: border-box;
background-image: url("./WhatsApp%20Image%202020-12-25%20at%203.31.30%20AM.jpeg");
background-repeat: no-repeat;
background-size:cover;
height:528px;
width:300px;
position:absolute;
top:100px;
left:580px;
position:relative;
}

.statusbar{
position:absolute;
top:0;
background-color:black;
height:15px;
width:100%;
}

.gsearch{
margin-left:8px;
height:250x;
width:25px;
padding:2px;

}

.googlesearch{
position:absolute;
top:50px;
left:30px;
background-color:#f7fbff;
border-radius: 10px;
height:30px;
width:80%;
}

.timetemp{
position:absolute;
top:100px;
width:100%;
height:60px;
/*background-color:bisque;*/
    
}

.time{
margin-left:5px;
position:absolute;
left:0px;

}

.timeTextBig{
font-size: 32px;
padding:0;
}

.smallText{
font-size: 10px;
padding:0;}

.temp{
margin-right:5px;
position: absolute;
right:0;
}

.logo{
height:35px;
width:35px;
}

.icon1{
position:absolute;
top:330px;
width:98%;
height:45px;
/*background-color:aliceblue;*/
display:flex;
justify-content: space-between;
margin:3px;
}

.icon2{
position:absolute;
top:390px;
width:98%;
height:45px;
/*background-color:aliceblue;*/
display:flex;
justify-content: space-between;
margin:3px;}

.navchange{
position:absolute;
top:450px;
width:100%;
/*background-color:chartreuse;*/
height:5px;
}

.NavChanges{
position:absolute; 
color:#bbbdbf;
}

.colorChange{
position: absolute;
color:#fff;
}
.textDot{
font-size:12px;
}

.lasticon{
position:absolute;
top:465px;
width:100%;
height:45px;
/*background-color:dodgerblue;*/
display:flex;
justify-content: space-around;

}